# LBS 服务设置
LBS_BAIDU_URL=https://api.map.baidu.com/geocoding/v3
LBS_BAIDU_AK=
LBS_TENCENT_URL=https://apis.map.qq.com/ws/geocoder/v1
LBS_TENCENT_KEY=
LBS_USE=tencent

# alidns设置
ALIDNS_ACCESS_KEY_ID=
ALIDNS_ACCESS_KEY_SECRET=
