{
    auto_https disable_redirects
}

bsres.cn:9180 {

    tls /root/key/bsres.cn.pem /root/key/bsres.cn.key {
        ciphers TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
        alpn h2 http/1.1
    }

    handle_path /sunset/* {
        root * /root/nginx/html/sunset
        file_server
        try_files {path} /
    }
    reverse_proxy /* {
        to https://embed.windy.com
        header_up -Via
        header_up Host embed.windy.com
        header_up -X-Forwarded-For
        header_up -X-Forwarded-Host
        header_up -X-Forwarded-Proto
        header_up Sec-Fetch-Site cross-site
        header_up Connection keep-alive
    }
}
